@{
    ViewBag.Title = "About";
}
<h2 class="text-center">@ViewBag.Title</h2>

<div class="text-center text-primary">
    <p>-- Final project for Web Programming course --</p>
    <p>Online shopping site</p>
</div>

