@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Mr. Nguyen Duy Hieu</h3>

<address>
    17110028<br />
    HCMUTE<br />
    <p title="Phone">Phone:</p>
    420.666.6969
</address>

<address>
    <a href="https://github.com/WeakCookie/Final_Project">Github</a><br />
</address>