@{
    ViewBag.Title = "Home";
}

<div class="text-center" style="margin-top:50px;font-size:24px">
    <h1 style="font-size:3rem;letter-spacing:30px;margin-left:40px">Amazon</h1>
    <p class="lead">Choose your cheap product and buy it online now</p>
</div>